@font-face {
  font-family: customF;
  src: url(Montserrat-Light.ttf);
}

.boxbody {
    border-radius: 1%;
    width: 66%;
    padding: 10px;
    background-color: rgb(23, 23, 23);
    border: 1px solid transparent;
    margin: 5% 17% auto 17%;
    box-shadow: 0px 0px 29px 10px rgba(225, 5, 5, 0.15);
}
a:hover {
    cursor: pointer;
}
#container > h2 {
    color: white;
    text-shadow: 2px 0 0 #781212, -1px 0 0 #781212, 0 1px 0 #781212, 0 -1px 0 #781212, 0.5px 0.5px #781212, -0.5px -0.5px 0 #781212, 0.5px -0.5px 0 #781212, -0.5px 0.5px 0 #590d39;
    font-family: customF;
    margin: 0% 2% 0% 2%;

}
#container > h3 {
    color: white;
    text-shadow: 2px 0 0 #ff0505, -2px 0 0 #ff0505, 0 2px 0 #ff0505, 0 -2px 0 #ff0505, 1px 1px #ff0505, -1px -1px 0 #ff0505, 1px -1px 0 #ff0505, -1px 1px 0 #ff0505;
    font-size: 42px;
    font-family: customF;
    margin: 1% 2% 0% 2%;
    text-align: center;
}
#container > h4 {
    color: #090909;
    font-family: customF;
    margin: 4% 2% 0% 2%;
    text-align: center;
}


.container {
  display: flex;
}
.container.space-around {
  justify-content: space-around;
}
.container.space-between {  
  justify-content: space-between;
}

.sep10 {
  margin-top: 10px;
}
.sep20 {
  margin-top: 20px;
}
.sep30 {
  margin-top: 30px;
}
.butt{
  width: 20%;
  padding: 2% 5%;
  background: rgb(16 16 16);
  user-select: none;
}
.butt:hover {
  background: #2a2a2a;
  transform: scaleX(1.05) scaleY(1.1)
}
.hide {
  visibility: hidden !important;
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}
#log {
  resize: vertical;
  cursor: pointer;
  user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(74, 74, 74);
}

::-webkit-scrollbar-thumb {
    height: 25%;
    background-color: rgb(140, 140, 140);
}

::-webkit-scrollbar-corner {
    background-color: rgb(0, 0, 0);
}

